.carousel {
  width: 100%;
  max-width: 1500px;
  margin-top: 0;
  position: relative;
  margin-top: 80px;
  .button {
    @include button;
    position: absolute;
    left: 43.2%;
    bottom: 5%;
  }
  .owl-carousel {
    .item {
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: relative;
      .text {
        @include text_carousele;
        top: 50%;
        width: 100%;
        height: 170px;
        max-height: 170px;
        div {
          width: 100%;
          max-width: 1500px;
          height: 100%;
          max-height: 100px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          align-items: center;
          h2 {
            color: white;
            font-family: $base-font;
            font-weight: 700;
            font-size: 2.3rem;
            margin: 1rem;
            padding: 8px 20px 8px 20px;
            background-color: rgba(255, 255, 255, 0.4);
          }
        }
        h3 {
          color: white;
          font-family: $base-font;
          font-weight: 700;
          font-size: 26px;
          margin-bottom: 2rem;
          background-color: rgba(0, 0, 0, 0.6);
          padding: 5px;
        }
      }
      .text_second {
        @include text_carousele;
        left: 10%;
        top: 22%;
        width: 20%;
        height: 400px;
        max-height: 400px;
        p {
          width: 420px;
          height: 180px;
          color: white;
          background-color: #44bec77e;
          padding: 16px;
          border-radius: 4px;
          font-family: $base-font;
          font-weight: 600;
          font-size: 32px;
          line-height: 40px;
          margin-bottom: 2rem;
        }
      }
      .text_third {
        @include text_carousele;
        right: 10%;
        top: 34%;
        width: 310px;
        height: 400px;
        max-height: 400px;
        h2 {
          color: white;
          font-family: $base-font;
          font-weight: 700;
          font-size: 32px;
          margin-bottom: 2rem;
          background-color: rgba(0, 0, 0, 0.6);
          padding: 5px;
          margin-top: 15px;
        }
        p {
          width: 90%;
          height: 56%;
          color: white;
          background-color: #fa3c4c7e;
          padding: 16px;
          border-radius: 4px;
          font-family: $base-font;
          font-weight: 600;
          font-size: 28px;
          line-height: 36px;
          margin-bottom: 2rem;
        }
      }
      img {
        max-height: 700px;
        max-width: 100%;
        top: 0%;
        left: 0%;
      }
    }
  }
}

div.owl-dots {
  position: absolute;
  bottom: 10px;
  right: 47.2%;
}
