$text-color: #000;
$main-shadow: #00000029;
$background-color: #fff;
$menu-link-shadow: #05668D;
$primary-color: #0084ff;
$alt-text: rgb(5, 71, 82);
$alt-light-text:rgb(112, 140, 145);
$form-background:rgba(112, 140, 145, 0.082);